<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        User Profile
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="12">
                <amexio-text-input [field-label]="'First Name'" [(ngModel)]="userregistrationModel.firstname" name="userregistrationModel.firstname" [place-holder]="'Enter First Name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true"
                    (onBlur)="onBlur_firstname($event)" (input)="input_firstname($event)" (focus)="focus_firstname($event)">
                </amexio-text-input>
            </amexio-column>
        </amexio-row>

        <amexio-text-input [field-label]="'Last name'" [(ngModel)]="userregistrationModel.lastname" name="userregistrationModel.lastname" [place-holder]="'Enter Last Name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true"
            (onBlur)="onBlur_lastname($event)" (input)="input_lastname($event)" (focus)="focus_lastname($event)">
        </amexio-text-input>
        <amexio-number-input [field-label]="'Phone Number'" [(ngModel)]="userregistrationModel.phonenumber" name="userregistrationModel.phonenumber" [place-holder]="'Enter Phone Number'" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0"
            [max-value]="20" (onBlur)="onBlur_phonenumber($event)" (input)="input_phonenumber($event)" (focus)="focus_phonenumber($event)">
        </amexio-number-input>
        <amexio-radio-group [field-label]="'Gender'" name="userregistrationModel.gender" [data-reader]="'data'" [display-field]="'gender'" [value-field]="'genderId'" [data]="radiogroupData" [horizontal]="true" (onSelection)="onSelection_gender($event)">
        </amexio-radio-group>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Cancel'" [icon]="'fa fa-times fa 2x'" [type]="'default'" [tooltip]="'Cancel'" [size]="'default'" [form-bind]="'cancelBtn'" (onClick)="onClick_cancelBtn($event)">
        </amexio-button>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save fa 2x'" [type]="'green'" [tooltip]="'Save'" [size]="'default'" [form-bind]="'saveBtn'" (onClick)="onClick_saveBtn($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>